---
layout: default
title: Springer Lab
categories:
 - home
---

{% include carousel.html name='Example' data=site.data.carousel %}

<div class="row justify-content-md-center">
	<div class="col col-md-auto">
		<div class="logobox bigtitle">Springer Lab research</div>
	</div>
	<div class="col col-md-auto">
		<object class="pull-left biglogo" data="/images/logo.svg" type="image/svg+xml"></object>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12 smallhead">
       The Springer lab studies basic aspects of genetics using maize as a model system.  We are involved in a number of projects to better understand the molecular sources of variation within a species and to connect this heritable variation with changes in phenotype.
	</div>
</div>

<hr class="my-4">

{% include 4publications.html %}

<hr class="my-4">

{% include 4news.html %}

<hr class="my-4">

{% include 4projects.html %}

<div class="bigspacer"></div>