<div class="row">
	<div class="col-md-12">
		<a class="bighead" href="/projects/">Active Projects</a>
	</div>
</div>

<div class="bigspacer"></div>

<div class="card-deck">
	{% for project in site.categories.projects limit:4 %}
    <div class="card">
        <a class="text-dark" href="{{ project.url }}">
	{% if project.image %}
        <img class="card-img-top" src="{{ project.image }}">
    {% else %}
        <img class="card-img-top" src="/images/null.png">
    {% endif %}
        </a>
        <div class="card-body">
            <h5 class="card-title">
                <i class="fas fa-edit fa-fw"></i>
                <a class="text-dark" href="{{ project.url }}">
				{{ project.title }}
                </a>
            </h5>
            <p class="card-text">{{ project.description }}</p>
        </div>
        <div class="card-footer">
			{% for contributor in project.contributors %}
			{% assign name = contributor | downcase | strip %}
                {% for member in site.categories.people %}
                    {% assign mname = member.title | downcase | strip %}
                    {% if name == mname %}
                        {% assign url = member.url %}
                    {% endif %}
                {% endfor %}
				<a class='small text-muted' href="{{ url }}">{{ contributor }}</a>
				{%- if forloop.last != true -%}
				    <small class='text-muted'>,</small>
				{% endif %}
 			{% endfor %}
 		</div>
	</div>
	{% endfor %}
</div>