<div class="row">
	<div class="col-md-12">
		<a class="bighead" href="/publications/">Recent Papers</a>
	</div>
</div>

<div class="bigspacer"></div>

<div class="card-deck">
	{% for paper in site.categories.publications limit:4 %}
    <div class="card">
        <a class="text-dark" href="{{ paper.url }}">
	{% if paper.image %}
        <img class="card-img-top" src="{{ paper.image }}" alt="{{ paper.ref }}">
    {% else %}
        <img class="card-img-top" src="/images/null.png" alt="{{ paper.ref }}">
    {% endif %}
        </a>
        <div class="card-body">
            <h5 class="card-title">
                <i class="fas fa-file fa-fw"></i>
                <a class="text-dark" href="{{ paper.url }}">
                {{ paper.title }}
                </a>
            </h5>
            <p class="card-text">{{ paper.ref }}</p>

        </div>
        <div class="card-footer">
            <small class="text-muted">Posted {{ paper.date | date: "%-d %b %Y" }}</small>
        </div>
	</div>
	{% endfor %}
</div>